html *
{
   color: #000;
   font-family: Arial;
}

h1 {
    text-align: center;
    font-size: 100px;
}

#funkin_sites {
    background-color: aqua;
    align-items: center;
    font-size: 25px;
    margin: 1%;
    height: 100px;
}

#funkin_site_button {
    cursor: pointer;
    padding: 5px;
    margin: 10px;
    border: 3px solid black;
    background-color: violet;
    background-image: url('https://avatars.githubusercontent.com/u/117059284?s=48&v=4');
    background-size: calc(100%);
    border-radius: 5px;
    color: #fff;

}